body
{
    margin: 0;
    padding: 0;
    background-color: honeydew;
}
.root
{
    margin: 0;
    padding: 0;
}
.footer {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    background-color: honeydew;
    margin:0;
    margin-top:2rem;
    text-align: center;
    padding-top: 1.5rem;
}
.header
{
    margin:0;
    width: 100%;
    background-color: gold;
    color:black;
}
.container
{
    margin:0;    
    padding:0;
    width: 100%;
    color:black;
}
.navbar-brand
{
    color:black;
}
.content
{
    background-color:honeydew;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:3rem;
}
.module
{
    background-color:white;
    margin-left:1rem;
    margin-right:1rem;
    margin-top:1rem;
    margin-right:1rem;
    border-radius: 7px;
    padding: 2rem;
    box-shadow: 0 2px 5px #ccc;
}
.content-heading
{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.5rem;
}
.content-text
{
    font-weight:normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.5rem;
}